.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: min-content;
    position: relative;
}

.slider__arrow {
    position: absolute;
    bottom: 220px;
    width: 40px;
    height: 40px;
}

.slider__arrow:hover {
    cursor: pointer;
    scale: 1.2;
    transition-duration: 300ms;
}

.arrow__left {
    left: 15px;
}

.arrow__right {
    right: 15px;
}

.slider__img {
    width: 1000px;
    height: 550px;
}

@media (max-width: 1100px) {

    .slider__arrow{
        position: absolute;
        bottom: 10px;
        width: 40px;
        height: 40px;
    }
    .arrow__left {
        left: 30px;
    }
    .arrow__right {
        right: 30px;
    }
    .slider__img{
        object-fit: cover;
        width: 600px;
        height: 338px;
    }
    .slider {
        position: relative;
        width: 720px;
    }
}

@media (max-width: 720px) {
    .slider__img{
        width: 340px;
        height: 226px;
    }
    .arrow__left {
        left: 0;
    }

    .arrow__right {
        right: 0;
    }
    .slider {
        width: 370px;
    }
}